@import url('https://fonts.googleapis.com/css2?family=Crete Round');
@import url('https://fonts.googleapis.com/css2?family=Roboto');
@import url('https://fonts.googleapis.com/css2?family=Poppins');
@import url('https://fonts.googleapis.com/css2?family=Inter');
@import url('https://fonts.googleapis.com/css2?family=InaiMathi');

.toolbar {
  background-color: #3c3a39;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}

.logo a {
  text-decoration: none;
  color: #fff;
  font-family: 'Roboto', sans-serif;
}

.headline {
  padding: 1rem;
  background-color: hsl(20, 6%, 10%);
  display: flex;
  height: 568px;
  flex-direction: column;
  background-image: url("images/Illustration.svg");
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 35%;
}

.name {
  color: #ff6b00;
  font-size: 56px;
  font-family: 'Crete Round', sans-serif;
  margin-bottom: 0.5px;
}

.supText {
  font-family: 'Roboto', sans-serif;
  color: #fff;
  font-size: 24px;
}

.support {
  margin-bottom: 0.5rem;
}

.descrip {
  color: #fff;
  font-family: 'Poppins', sans-serif;
}

.icons {
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
  list-style: none;
  margin-left: -2rem;
}

.works {
  display: grid;
  grid-template-rows: repeat(7, minmax(200px, auto));
}

.hori {
  width: 85%;
}

.title {
  text-align: center;
  margin-top: 6rem;
  margin-bottom: 4rem;
}

.proj1 {
  display: flex;
  flex-direction: column;
  color: #091e42;
  margin-left: 0.5rem;
}

.lans {
  list-style: none;
  display: flex;
  gap: 6px;
  width: 85%;
  padding-left: 0;
}

.prolan {
  border: 1px solid #8993a4;
  padding: 0.5rem;
}

.projInfo {
  margin-top: -20px;
  width: 90%;
}

.projectBtn {
  background-color: #ff6b00;
  color: #fff;
  height: 35px;
  width: 97px;
  border-style: none;
}

.proj2 {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  padding-top: 5rem;
  background-image: url("images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  gap: 6px;
}

.lans2 {
  padding: 0.5rem;
  background: rgba(92, 92, 105, 0.7);
}

.pro2lan {
  margin-left: 1rem;
}

.projInfo2 {
  margin-left: 1rem;
}

.projTitle {
  margin-left: 1rem;
}

.projBtn2 {
  width: 100%;
  margin-left: 0;
}

.btnProject2 {
  width: 100%;
  height: 48px;
  background-color: #ff6b00;
  color: #fff;
  border-style: none;
}

.aboutMyself {
  display: grid;
  grid-template-rows: repeat(4, minmax(200px, auto));
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #1c1a19;
  margin-top: 6rem;
}

.aboutCover {
  display: flex;
  margin-top: 1rem;
  flex-direction: column;
  height: 65vh;
  background-image: url("images/AboutBack.svg");
  background-position: right bottom;
  background-repeat: no-repeat;
  margin-bottom: -6rem;
}

.aboutMy {
  font-size: 56px;
  color: #ff6b00;
  width: 75%;
  font-family: "Crete Round", sans-serif;
}

.aboutText {
  margin-top: -3rem;
  color: #fff;
  font-family: 'Inter', sans-serif;
  width: 75%;
  font-size: 13px;
}

.MyresumeBtn {
  background-color: #ff6b00;
  color: #fff;
  height: 40px;
  width: 150px;
  border-style: none;
}

.horiline {
  width: 100%;
  align-self: center;
}

.languages {
  display: flex;
  flex-direction: column;
  font-family: 'InaiMathi', sans-serif;
}

.skills {
  display: flex;
  flex-direction: column;
  margin-top: -3rem;
}

.lanHeader {
  display: flex;
  color: #fff;
  justify-content: center;
  gap: 7px;
  align-items: center;
}

.lang {
  display: flex;
  width: 69%;
  margin-left: 1rem;
  flex-direction: column;
  gap: 15px;
  list-style: none;
  align-items: center;
  color: #fff;
}
