@import url('https://fonts.googleapis.com/css2?family=Crete Round');
@import url('https://fonts.googleapis.com/css2?family=Roboto');
@import url('https://fonts.googleapis.com/css2?family=Poppins');
@import url('https://fonts.googleapis.com/css2?family=Inter');
@import url('https://fonts.googleapis.com/css2?family=InaiMathi');

.toolbar {
  background-color: #3c3a39;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}

.logo a {
  text-decoration: none;
  color: #fff;
  font-family: 'Roboto', sans-serif;
}

.headline {
  padding: 1rem;
  background-color: hsl(20, 6%, 10%);
  display: flex;
  height: 568px;
  flex-direction: column;
  background-image: url("images/Illustration.svg");
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 35%;
}

.name {
  color: #ff6b00;
  font-size: 56px;
  font-family: 'Crete Round', sans-serif;
  margin-bottom: 0.5px;
}

.supText {
  font-family: 'Roboto', sans-serif;
  color: #fff;
  font-size: 24px;
}

.support {
  margin-bottom: 0.5rem;
}

.descrip {
  color: #fff;
  font-family: 'Poppins', sans-serif;
}

.icons {
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
  list-style: none;
  margin-left: -2rem;
}

.works {
  display: grid;
  grid-template-rows: repeat(7, minmax(200px, auto));
}

.hori {
  width: 85%;
}

.title {
  text-align: center;
  margin-top: 6rem;
  margin-bottom: 4rem;
  font-family: 'Crete Round', sans-serif;
  color: #091e42;
}

.proj1 {
  display: flex;
  flex-direction: column;
  color: #091e42;
  margin-left: 2rem;
}

.lans {
  list-style: none;
  display: flex;
  gap: 6px;
  width: 85%;
  padding-left: 0;
}

.prolan {
  border: 1px solid #8993a4;
  padding: 0.5rem;
}

.projInfo {
  margin-top: -20px;
  width: 90%;
}

.projectBtn {
  background-color: #ff6b00;
  color: #fff;
  height: 35px;
  width: 97px;
  border-style: none;
}

.proj2 {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  padding-top: 5rem;
  background-image: url("images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  gap: 6px;
}

body {
  margin: 0;
}

.lans2 {
  padding: 0.5rem;
  background: rgba(92, 92, 105, 0.7);
}

.pro2lan {
  margin-left: 1rem;
}

.projInfo2 {
  margin-left: 1rem;
}

.projTitle {
  margin-left: 1rem;
}

.projBtn2 {
  width: 100%;
  margin-left: 0;
}

.btnProject2 {
  width: 100%;
  height: 48px;
  background-color: #ff6b00;
  color: #fff;
  border-style: none;
}

.aboutMyself {
  display: grid;
  grid-template-rows: repeat(4, minmax(200px, auto));
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #1c1a19;
  margin-top: 6rem;
}

.aboutCover {
  display: flex;
  margin-top: 1rem;
  flex-direction: column;
  height: 65vh;
  background-image: url("images/AboutBack.svg");
  background-position: right bottom;
  background-repeat: no-repeat;
  margin-bottom: -6rem;
}

.aboutMy {
  font-size: 56px;
  color: #ff6b00;
  width: 75%;
  font-family: "Crete Round", sans-serif;
}

.aboutText {
  margin-top: -3rem;
  color: #fff;
  font-family: 'Inter', sans-serif;
  width: 75%;
  font-size: 13px;
}

.MyresumeBtn {
  background-color: #ff6b00;
  color: #fff;
  height: 40px;
  width: 150px;
  border-style: none;
}

.horiline {
  width: 100%;
  align-self: center;
}

.languages {
  display: flex;
  flex-direction: column;
  font-family: 'InaiMathi', sans-serif;
}

.skills {
  display: flex;
  flex-direction: column;
  margin-top: -3rem;
}

.lanHeader {
  display: flex;
  color: #fff;
  justify-content: center;
  gap: 7px;
  align-items: center;
}

.lang {
  display: flex;
  width: 69%;
  margin-left: 1rem;
  flex-direction: column;
  gap: 15px;
  list-style: none;
  align-items: center;
  color: #fff;
}

.MyresumeBtn:hover {
  background-color: #fff5e1;
  border: 1px solid #ff6b00;
  color: #ff6b00;
}

.MyresumeBtn:active {
  background-color: #e05304;
  color: #f1d8ca;
}

.MyresumeBtn:disabled {
  background-color: #f4f1f0;
  color: #666462;
}

.projectBtn:active {
  background-color: #e05304;
  color: #f1d8ca;
}

.projectBtn:hover {
  background-color: #fff5e1;
  border: 1px solid #ff6b00;
  color: #ff6b00;
}

.projectBtn:disabled {
  background-color: #f4f1f0;
  color: #666462;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  height: 100vh;
}

.contact-text {
  text-align: center;
  width: 50%;
  font-size: 19px;
  font-family: 'Inter', sans-serif;
  color: #172b4d;
  margin-bottom: 2rem;
}

.input {
  display: flex;
  flex-direction: column;
}

input[type=text] {
  border-style: none;
}

.nameline {
  margin-bottom: 2rem;
}

input[type=email] {
  border-style: none;
}

.email-line {
  margin-bottom: 2rem;
}

#msg {
  width: 100%;
  margin-bottom: 2rem;
}

.btnArea {
  align-self: center;
  height: 30px;
}

.touch_btn {
  margin-left: 20%;
  border-style: none;
  height: 25px;
  width: 120px;
  background: #ff6b00;
  color: #fff;
}

.touch:hover {
  background-color: #fff5e1;
  border: 1px solid #ff6b00;
  color: #ff6b00;
}

.line {
  margin-top: 4rem;
  color: #dfe1e6;
}

.imgs {
  display: flex;
  list-style: none;
  gap: 2rem;
  justify-content: center;
  margin-right: 2rem;
}

.contactInfoSoc {
  margin-top: 7rem;
  width: 100%;
}

textarea {
  border-style: none;
  background-color: #fbf8f7;
  height: 114px;
}

.DeskToolBar {
  display: none;
}

.DesktopHeadLine {
  display: none;
}

.DeskHead {
  display: none;
}

.DeskWorks {
  display: none;
}

.DeskAboutMyself {
  display: none;
}

.Desktop-contact-form {
  display: none;
}

.mobile-menu {
  display: none;
  background-color: #3c3a39;
  width: 90%;
  margin-top: 0;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: fixed;
  list-style: none;
  padding: 2rem;
}

.closeBtn {
  float: right;
  padding: 0.5rem;
  width: 8%;
}

.menuPopUp {
  display: flex;
  flex-direction: column;
  color: #fff;
  margin-top: 3rem;
  font-family: 'Inter', sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  list-style: none;
  margin-right: 2rem;
}


.items {
  margin-top: 1rem;
}

.items a {
  text-decoration: none;
  color: #fff;
}

.items-line {
  width: 90%;
  margin-right: 60px;
  border: 1px solid #6f6c6b;
}

.container {
  left: 0;
  top: 0;
  width: 100%;
  position: absolute;
  height: 100%;
  margin-top: 0px;
  z-index: -1;
  background-color: #979493;
  mix-blend-mode: multiply;
  filter: blur(5px);
}

.ProjectPopUp {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  position: absolute;
  width: 343px;
  height: 100;
  margin-right: 2px;
  margin-left: 8px;
  top: 1rem;
  box-sizing: border-box;
  z-index: 1;
  border: 3px solid pink;
  padding-bottom: 1rem;
}

.ProTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
}

.proHeading {
  color: #172b4d;
  font-family: 'Roboto', sans-serif;
}

.lan-tags {
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 80%;
  margin-top: -0.5rem;
  margin-left: 1rem;
  padding: 2rem;
  padding-top: 0.5rem;
  padding-left: 1rem;
  gap: 1rem;
}

.lan-tag {
  border: 1px solid;
  padding: 0.5rem;
}

.imgSec {
  margin-top: -1rem;
  padding-left: 1rem;
  width: 70%;
}

.btnSec {
  margin-left: 1rem;
}

.Pro-descrip  {
  font-size: 16px;
  width: 90%;
  margin-left: 1rem;
  margin-bottom: 1rem;
}

.lorem  {
  font-size: 12px;
}

.btnSec {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  width: 70%;
}

.seeLive {
  background-color: #ff6b00;
  color: #fff;
  border-style: none;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.btn-image{
  margin-left: 1rem;
}

@media only screen and  (min-width: 1000px) {
  .toolbar {
    display: none;
  }

  .DeskToolBar {
    display: flex;
    background-color: #3e3c3c;
    color: #fff;
    font-family: 'Inter', sans-serif;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1rem;
    align-items: center;
  }

  .menuItems {
    display: flex;
    list-style: none;
    gap: 2rem;
    margin-right: 2rem;
  }

  .headline {
    display: none;
  }

  .DesktopHeadLine {
    display: flex;
    background: #1c1a19;
    height: 100vh;
    gap: 5rem;
    align-items: center;
    background-image: url("images/DesktopBackground.png");
    background-repeat: no-repeat;
    background-position: center right;
  }

  .soc-media-icons {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .DeskText {
    display: flex;
    flex-direction: column;
    width: 65%;
  }

  .TextHeading {
    color: #ff6b00;
    font-family: 'Crete Round', sans-serif;
    font-size: 52px;
    height: 45vh;
  }

  .intro {
    font-size: 24px;
    font-family: 'Inter', sans-serif;
    color: #fff;
    margin-top: -2rem;
  }

  .services {
    color: #fff;
    font-family: 'Inter', sans-serif;
    width: 45%;
    margin-top: -2rem;
  }

  .title {
    display: none;
  }

  .DeskHead {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    font-family: 'Crete Round', sans-serif;
    color: #091e42;
  }

  .DeskWorks {
    display: flex;
    flex-direction: column;
    margin-left: 6rem;
    margin-right: 6rem;
  }

  .works {
    display: none;
  }

  .DeskPro1 {
    margin-top: 4rem;
    display: flex;
    gap: 25px;
    margin-bottom: 4rem;
  }

  .ProjectInfo {
    display: flex;
    flex-direction: column;
    color: #091e42;
    margin-top: -2rem;
  }

  .pro-details {
    width: 65%;
    font-family: 'Inter', sans-serif;
  }

  .ProHead {
    font-family: 'Crete Round', sans-serif;
  }

  .proGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin-top: -3rem;
    gap: 3rem;
  }

  .project2Desk {
    display: flex;
    flex-direction: column;
  }

  .deskBtn {
    margin-top: -1rem;
    width: 369px;
  }

  .DeskProjects {
    display: flex;
    flex-direction: column;
  }

  .DeskProj3 {
    background-image: url("images/Pro3Desk.png");
    background-repeat: no-repeat;
  }

  .DeskProj4 {
    background-image: url("images/Pro4Desk.png");
    background-repeat: no-repeat;
  }

  .DeskProHead {
    width: 65%;
    margin-left: 1rem;
    margin-top: 3rem;
    font-family: 'Crete Round', sans-serif;
  }

  .DeskProInfo {
    width: 65%;
    margin-top: -1.5rem;
    margin-left: 1rem;
    font-family: 'Inter', sans-serif;
  }

  .aboutMyself {
    display: none;
  }

  .DeskAboutMyself {
    display: block;
    background: #262626;
    margin-top: 4rem;
    padding-left: 1rem;
    padding-bottom: 6rem;
  }

  .AboutDeskSec {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4rem;
  }

  .contact-form {
    display: none;
  }

  .DesktopAboutCover {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 9rem;
  }

  .DeskaboutHead {
    color: #ff6b00;
    font-size: 52px;
    font-family: 'Crete Round', sans-serif;
    margin-bottom: -4rem;
  }

  .DeskaboutText {
    color: #fff;
    font-family: 'Inter', sans-serif;
    margin-bottom: 2rem;
  }

  .DeskaboutInfo {
    font-size: 20px;
  }

  .aboutDeskLine {
    padding-bottom: 4rem;
    padding-left: 2rem;
    padding-right: 4rem;
  }

  .DeskSkills {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .deskSk {
    display: flex;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
  }

  .Desktop-contact-form {
    display: block;
    align-items: center;
  }

  .DeskContactInfo {
    display: flex;
    gap: 5rem;
  }

  .DeskForm {
    display: flex;
    flex-direction: column;
    margin-top: 6rem;
    width: 70%;
  }

  .DeskContactText {
    font-family: 'Inter', sans-serif;
    font-size: 30px;
    line-height: 42px;
    width: 28%;
    margin-top: 4rem;
    margin-left: 5rem;
    color: #262626;
    font-weight: 700;
  }

  .names {
    display: flex;
    gap: 2rem;
  }

  .firstName {
    width: 40%;
  }

  .LastName {
    width: 40%;
  }

  .DeskEmail {
    width: 84%;
  }

  .DesktopTextArea {
    margin-top: 2rem;
    width: 84%;
  }

  .DesktopBtnArea {
    padding-left: -4rem;
  }

  .GetInDesk {
    border-style: none;
    height: 25px;
    width: 120px;
    background: #ff6b00;
    color: #fff;
  }
}
